<footer class="footer footer-big">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-4">
          <div class="column">
            <a class="navbar-brand mt-3" routerLink="//"><img src="../../assets/images/nirmaan favicon.png"
                style="padding-right:5px; padding-bottom: 5px;">NIRMAAN360</a>
          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="column">
            <h4 class="mt-3"><a routerLink="/about" style="color: #8898aa;">About</a></h4>

          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="column">
            <h4 class="mt-3"><a routerLink="/pricing" style="color: #8898aa;">Pricing</a></h4>

          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="column">
            <h4 class="mt-3"><a routerLink="/products" style="color: #8898aa;">Products</a></h4>
          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="column">
            <h4 class="mt-3"><a routerLink="/contact" style="color: #8898aa;">Contact</a></h4>
            <div class="row pl-1">
              <div class=" col-2 col-sm-2">
                <a href="https://www.linkedin.com/company/nirmaan360/">
                  <i class="fab fa-linkedin"></i>
                </a>
              </div>
              <div class=" col-2 col-sm-1">
                <a href="https://www.instagram.com/nirmaan360construction/">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-9">
          <div class="column">
            <nav>
              <ul>
                <li class="d-inline-block"><a class="nav-link" href="javascript:;">@NIRMAAN360</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-3">
          <span>Language:</span>
          <span class="btn btn-link text-primary">English</span>
        </div>
      </div>
    </div>
  </div>
</footer>
