<div class="wrapper">
  <header class="header-5">
    <app-navbar></app-navbar>
    <div class="page-header" style="min-height: 00vh; max-height: 2000px;">
      <div class="container" style=" padding-top: 50px !important;">
        <div class="row  text-left">
          <div class="col-lg-5 col-12">
            <h1 class="display-3">Join Us for Pricing Updates</h1>
            <p class="lead pb-4">We are currently working hard on developing and perfecting our offer. To be among the
              first to know about our product launch and pricing details, we invite you to join our waitlist. By
              providing us with your email address, you will receive exclusive updates and be among the first to gain
              access to our product when it becomes available.</p>
            <div class="row row-input">
              <div class="col-sm-7 col-12">
                <input class="form-control" type="email" name="email" id="signupSrEmail" placeholder="Your email"
                  aria-label="Your email">
              </div>
              <div class="col-sm-5 col-12 pl-lg-0">
                <button class="btn btn-primary btn-block" type="submit">Get notified!</button>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-12 pl-0">
            <img class="ml-lg-5 p-5" src="../../assets/images/construction-costs-abstract-concept-vector-32302567.jpg"
              width="100%">
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
