<div class="wrapper">
  <header class="header-2 skew-separator">
    <app-navbar></app-navbar>
    <div class="page-header" style="min-height: 00vh;">
      <div class="page-header-image" style="background-image: url('../../assets/images/job-5382501-1920.jpg')"></div>
      <div class="container pt-200">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <h1 class="display-1">Core Tools</h1>
          </div>
        </div>
        <div class="row">
          <div class="floating-box bg-default">
            <div class="box text-center">
              <div class="icon icon-shape bg-success icon-xl rounded-circle text-white"><i
                  class="ni ni-spaceship"></i></div>
            </div>
            <h1 class="lead text-white p-5">NIRMAAN360 is created for the field and office and make it simple for
              everyone to understand what has to be completed each day in order to stay on time and avoid rework.</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="section features-6 ">
    <div class="container pt-5">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="text-center">Contacts</h1>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="col-lg-12">
            <div class="info info-horizontal info-hover-success">
              <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                <span class="material-symbols-outlined text-primary">
                  featured_play_list
                </span>
              </div>
              <div class="description pl-4">
                <h5 class="title">Feature Description</h5>
                <p class="text-justify">With Contacts, you can access important phone numbers for team members,
                  vendors,
                  and subcontractors
                  from anywhere, at any time. This feature eliminates the need for manual tracking and searching,
                  saving
                  you time and effort.</p>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5">
            <div class="info info-horizontal info-hover-primary" style="max-height: 900px !important;">
              <div class="icon icon-shape icon-shape-info rounded-circle text-white"><span
                  class="material-symbols-outlined text-info">
                  app_shortcut
                </span>
              </div>
              <div class="description pl-4">
                <h5 class="title">Uses</h5>
                <p class="text-justify">Creating distribution groups is easy with Contacts. You can define and assign
                  trades, such as
                  electricians, plumbers, or HVAC contractors, to specific groups. This feature ensures that each team
                  member is aware of their responsibilities and that work is assigned efficiently.</p>

              </div>
            </div>
          </div>
          <div class="col-lg-6 col-10 mx-md-auto">
            <img src="../../assets/images/istockphoto-1165660282-612x612.jpg" width="100%"
              style="max-height: 350px; max-width: 400px;">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="info info-horizontal info-hover-primary">
              <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                <span class="material-symbols-outlined text-info">
                  bolt
                </span>
              </div>
              <div class="description pl-4">
                <h5 class="title">Strengths</h5>
                <p class="text-justify">Whether you need to reach out to a team member for a quick question or set up
                  a
                  distribution group
                  with your trades, this feature helps makes it easier for your team to work together.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <h4><a class="text-info " routerLink="/pricing">Discover pricing plans</a></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="section features-6 ">
    <div class="container pt-5">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="text-center">Files</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="info info-horizontal info-hover-success">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <span class="material-symbols-outlined text-primary">
                featured_play_list
              </span>
            </div>
            <div class="description pl-4">
              <h5 class="title">Feature Description</h5>
              <p class="text-justify">With Files, you can store all your project-related documents in one central
                repository. No more
                struggling to keep track of files across multiple platforms or sifting through cluttered file
                cabinets. With just a few clicks, you can access all your project documents online and even search for
                specific files with ease.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-10 mx-md-auto">
          <img src="../../assets/images/istockphoto-936965874-612x612.jpg" width="100%"
            style="max-height: 350px; max-width: 400px;">
        </div>
        <div class="col-lg-6">
          <div class="info info-horizontal info-hover-primary" style="max-height: 900px !important;">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white"><span
                class="material-symbols-outlined text-info">
                app_shortcut
              </span>
            </div>
            <div class="description pl-4">
              <h5 class="title">Uses</h5>
              <p class="text-justify">This feature enables fast and easy retrieval of files, which can be a lifesaver
                when working under
                tight project deadlines. You can access the documents you need from anywhere, at any time, and share
                them with team members or stakeholders as necessary. You can create customized folders and subfolders
                for specific project categories, making it easy to locate the documents you need quickly.</p>

            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="info info-horizontal info-hover-primary">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <span class="material-symbols-outlined text-info">
                bolt
              </span>
            </div>
            <div class="description pl-4">
              <h5 class="title">Strengths</h5>
              <p class="text-justify">This feature also ensures that your documents are secure, with user permissions
                and access controls
                that allow you to restrict access to sensitive information. It simplifies the management of your
                project documents, making it easier to locate files quickly and securely collaborate with your team
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <h4><a class="text-info " routerLink="/pricing">Get pricing details</a></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="section features-6 ">
    <div class="container pt-5">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <h1 class="text-center">Manage Tasks</h1>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="col-lg-12">
            <div class="info info-horizontal info-hover-primary">
              <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                <span class="material-symbols-outlined text-info">
                  featured_play_list
                </span>
              </div>
              <div class="description pl-4">

                <h5 class="title">Feature Description</h5>
                <p class="text-justify">With Manage Tasks, you can assign tasks to team members, set deadlines, and
                  track progress all from
                  one platform. This feature ensures that everyone on your team is aware of their responsibilities
                  and
                  that work is assigned efficiently.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5">
            <div class="info info-horizontal info-hover-primary" style="max-height: 900px !important;">
              <div class="icon icon-shape icon-shape-info rounded-circle text-white"><span
                  class="material-symbols-outlined text-info">
                  app_shortcut
                </span>
              </div>
              <div class="description pl-4">
                <h5 class="title">Uses</h5>
                <p class="text-justify">This feature provides real-time updates and notifications, enabling you to
                  stay up-to-date on the
                  latest project developments. You can receive notifications for approaching deadlines or when tasks
                  are
                  completed, ensuring that you never miss a beat. Whether you need to assign a new task to a team
                  member
                  or update the progress of an existing task, you can do so with just a few clicks. </p>

              </div>
            </div>
          </div>
          <div class="col-lg-6 col-10 mx-md-auto">
            <img
              src="../../assets/images/successful-execution-tasks-from-list-positive-businessman-with-pen-clipboard-completion-tasks-vector.jpg"
              width="100%" style="max-height: 350px; max-width: 400px;">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="info info-horizontal info-hover-primary">
              <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                <span class="material-symbols-outlined text-info">
                  bolt
                </span>
              </div>
              <div class="description pl-4">
                <h5 class="title">Strengths</h5>
                <p class="text-justify">You can view and manage all your tasks from one location, with the ability to
                  filter and sort tasks
                  by assignee, due date, status, or other criteria.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <h4><a class="text-info " routerLink="/pricing">Choose your plan</a></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="section features-6 ">
    <div class="container pt-5">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="text-center">Admin Control</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="info info-horizontal info-hover-success">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <span class="material-symbols-outlined text-primary">
                featured_play_list
              </span>
            </div>
            <div class="description pl-4">
              <h5 class="title">Feature Description</h5>
              <p class="text-justify">With Admin Control, administrators can easily control and customize templates,
                roles, and
                permissions, empowering them to create a platform that supports their own method of working. This
                feature provides complete flexibility, enabling you to customize your platform in a way that suits
                your unique requirements.</p>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-10 mx-md-auto">
          <img
            src="../../assets/images/pngtree-administration-illustration-with-women-on-the-phone-and-talking-many-things-png-image-6122641.png"
            width="100%" style="max-height: 350px; max-width: 400px;">
        </div>
        <div class="col-lg-6">
          <div class="info info-horizontal info-hover-primary" style="max-height: 900px !important;">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white"><span
                class="material-symbols-outlined text-info">
                app_shortcut
              </span>
            </div>
            <div class="description pl-4">
              <h5 class="title">Uses</h5>
              <p class="text-justify">This feature allows you to create customized templates that meet your specific
                needs. You can
                create
                templates for projects, contracts, change orders, or any other modules. This feature also allows you
                to customize roles and permissions, ensuring that team members have the appropriate level of access
                to
                project documents and information.</p>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="info info-horizontal info-hover-primary">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <span class="material-symbols-outlined text-info">
                bolt
              </span>
            </div>
            <div class="description pl-4">
              <h5 class="title">Strengths</h5>
              <p class="text-justify">With this feature, you can manage user accounts and permissions with ease. It
                provides complete
                control and customization over your platform, enabling you to tailor it to your unique needs. You
                can
                also customize the dashboard to display the information that is most important to you, providing a
                quick overview of your projects and their status.</p>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <h4><a class="text-info " routerLink="/pricing">Budget-friendly plans</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
