<div class="wrapper">
  <header class="header-5">
    <app-navbar></app-navbar>
    <div class="page-header" style="min-height: 75vh !important;">
      <div class="container" style="padding-bottom: 20vh !important;">
        <div class="row align-items-center text-left">
          <div class="col-lg-5 col-12">
            <h1 class="display-3">Be the First to Access Our Training Resources</h1>
            <p class="lead pb-4">Our team is dedicated to creating exceptional content that will fulfill your needs
              and exceed your expectations. By providing your email address, you will receive exclusive updates and be
              among the first to gain access to our training resources.</p>
            <form>
              <div class="row row-input">
                <div class="col-sm-8 col-12">
                  <input class="form-control" type="email" name="email" id="signupSrEmail" placeholder="Your email"
                    aria-label="Your email" required>
                </div>
                <div class="col-sm-4 col-12 pl-lg-0">
                  <button class="btn btn-primary btn-block" type="submit">JOIN NOW!</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-7 col-12 pl-0">
            <img class="ml-lg-5" src="../../assets/images/product-presentation-concept-illustration-114360-8116.jpg" width="100%">
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
