<div class="wrapper">
  <header class="header-2 skew-separator">
    <app-navbar></app-navbar>
    <div class="page-header" style="min-height: 00vh;">
      <div class="page-header-image" style="background-image: url('../../assets/images/office-2717014-1920.jpg')"></div>
      <div class="container pt-200">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <h2 class="display-1">Project Accounting</h2>
          </div>
        </div>
        <div class="row">
          <div class="floating-box bg-default">
            <div class="box text-center">
              <div class="icon icon-shape bg-success icon-xl rounded-circle text-white"><i
                  class="ni ni-spaceship"></i></div>
            </div>
            <h2 class="lead text-white p-4">We understand the importance of reliable and accurate accounting services
              in running a successful business. At present, we are still exploring the possibilities of adding
              accounting services to our platform to better serve our valued clients. We appreciate your interest in
              our platform and encourage you to check back with us in two (2) months for updates on our progress. Rest
              assured that we are working diligently to make the best decision for our clients and will keep you
              informed every step of the way.</h2>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
