@media screen and (min-width: 500px) {
  .homeBG {
    background-image: url('../../assets/images/image (2).jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 300px) {
  .homeBG {
    background-image: url('../../assets/images/image (2).jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
